<a href="https://colab.research.google.com/github/Toan510/sgu25_data_analytics/blob/main/Bu%E1%BB%95i02_Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Buổi 2 - Python101

## Pythonn Programing

In [ ]:
from IPython.display import display

In [ ]:
print("Hello World")

Hello World

In [ ]:
#Indentation
score = 80
if score >=60 :
  print("Pass")

Pass

In [ ]:
# Python Variables
x = 2
print(x)

price = 2.5
print(price)

word = 'Hello'
print(word)

word = 'Hello'
print(word)

word = "Hello"
print(word)

word = '''Hello'''
print(word)

x = 2
y = x + 1
print(y)

2
2.5
Hello
Hello
Hello
Hello
3

In [ ]:
#python_version()
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

In [ ]:
#Python Data Types
#str
x = "Hello World"
print(x)

#int
x = 2
print(x)

#float
x = 2.5
print(x)

#complex
x = 7j
print(x)

Hello World
2
2.5
7j

In [ ]:
# Python Data Types
#list
x = ["apple", "banana", "cherry"]
print(x)

#tuple
x = ("apple", "banana", "cherry")
print(x)

#range
x = range(6)
print(x)

#dict
x = {"name" : "Tom", "age" : 20}
print(x)

#set
x = {"apple", "banana", "cherry"}
print(x)

#frozenset
x = frozenset({"apple", "banana", "cherry"})
print(x)

#bool
x = True
print(x)

#bytes
x = b"Hello"
print(x)

#bytearray
x = bytearray(5)
print(x)

#memoryview
x = memoryview(bytes(5))
print(x)

#NoneType
x = None
print(x)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'Tom', 'age': 20}
{'apple', 'cherry', 'banana'}
frozenset({'apple', 'cherry', 'banana'})
True
b'Hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x7fa47456a740>
None

In [ ]:
#Python Casting
x = str(3)   # x will be '3'
y = int(3)   # y will be 3
z = float(3) # z will be 3.0

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [ ]:
#Python Numbers
x = 2     # int
y = 3.4   # float
z = 7j    #complex

print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [ ]:
#Python Basic Operators
print('7 + 2 =', 7 + 2) #Addition
print('7 - 2 =', 7 - 2) #Subtraction
print('7 * 2 =', 7 * 2) #Multiplication
print('7 / 2 =', 7 / 2) #Division
print('7 // 2 =', 7 // 2) #Floor division
print('7 % 2 =', 7 % 2) #Modulus
print('7 ** 2 =', 7 ** 2) #Exponentiation

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [ ]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [ ]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

##Future value

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [ ]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

##Python Data Structures

In [ ]:
#Python Data Types
x = ["apple", "banana", "cherry"] #list
print(x)

x = ("apple", "banana", "cherry") #tuple
print(x)

x = {"name" : "Tom", "age" : 20}  #dict
print(x["name"],x["age"])

x = {"apple", "banana", "cherry"} #set
print(x)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
Tom 20
{'apple', 'cherry', 'banana'}

In [ ]:
#Lists []
x = [60, 70, 80, 90]
print(len(x))#length
print(x[0])  #position first left to right
print(x[1])  #position second left to right
print(x[-1]) #position first right to left

4
60
70
90

In [ ]:
#Tuples ()
x = (10, 20, 30, 40, 50)
print(x[0]) #position first left to right
print(x[1]) #position second left to right
print(x[2]) #position third left to right
print(x[-1]) #position first right to left

10
20
30
50

In [ ]:
#Sets {}
animals = {'cat', 'dog'}
print('cat' in animals) #cat in "animals" -> true
print('fish' in animals)#fish not in "animals" -> fals

animals.add('fish')
print('fish' in animals)#fish added by code so fish in "animals" -> true
print(len(animals))#count "animals"

animals.add('cat')
print(len(animals))#count the number of values ​​in "animals" after adding cat but cat is already in animals so it doesn't change - > 3

animals.remove('cat')
print(len(animals))#count the number of values ​​in "animals" after removing cat -> 2

True
False
True
3
3
2

In [ ]:
#Dictionary {key : value}
k = { 'EN':'English','FR':'French' }

print(k['EN'])#call "EN" from which we have "EN" is English

English

In [ ]:
#Python Data Structures
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)

colors = ("red", "green", "blue") #tuples ()
print(colors)

animals = {'cat', 'dog'} #sets {}
print(animals)

person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person['name'],person['age'])

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
Tom 20

In [11]:
#Python for Finance Applications
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses) #sum of values ​​in list
print("Total expenses:", total_expenses)
print("-" * 20)

# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))

for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers: #xet dieu kien "new_account_number" khong nam trong "account_numbers"
  print("Account number", new_account_number, "is not in use.")
print("-" * 20)

# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
  print("Account number:", account_number)
  print("Account name:", account_info["name"])
  print("Account balance:", account_info["balance"])
  print("Account type:", account_info["type"])
  print("-" * 20)

Total expenses: 293.5
--------------------
Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003
Account number 1004 is not in use.
--------------------
Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability
--------------------

## Python Control Logic and Loops

In [12]:
# Python if
score = 80
if score >=60: #neu "score" lon hon hoac bang thi pass
 print("Pass")

Pass

In [13]:
# Python if elif else
score = 95 # Khởi tạo biến score với giá trị 95
if score >= 90: # Kiểm tra nếu score lớn hơn hoặc bằng 90
  print("A") # Nếu đúng, in ra "A"
elif score >=60:# Nếu điều kiện trên sai, kiểm tra nếu score lớn hơn hoặc bằng 60
  print("Pass") # Nếu đúng, in ra "Pass"
else: # Nếu tất cả các điều kiện trên đều sai (score nhỏ hơn 60)
  print("Fail")# In ra "Fail"

A

In [ ]:
# Python if else
score = 80 # Khởi tạo biến score với giá trị 80
if score >=60:# Kiểm tra nếu score lớn hơn hoặc bằng 60
  print("Pass")# Nếu đúng, in ra "Pass"
else: # Nếu điều kiện trên sai (score nhỏ hơn 60)
  print("Fail")# In ra "Fail"

In [15]:
#Python if elif else
score = 90
grade = ""
if score >=90: # Kiểm tra nếu score lớn hơn hoặc bằng 90
    grade = "A"
elif score >= 80: # Nếu điều kiện trên sai, kiểm tra nếu score lớn hơn hoặc bằng 80
    grade = "B"
elif score >= 70: # Nếu điều kiện trên sai, kiểm tra nếu score lớn hơn hoặc bằng 70
    grade = "C"
elif score >= 60: # Nếu điều kiện trên sai, kiểm tra nếu score lớn hơn hoặc bằng 60
    grade = "D"
else: # Nếu tất cả các điều kiện trên đều sai (score nhỏ hơn 60)
    grade = "E"
print(grade) # In giá trị của biến grade

A

In [16]:
#Python for Loops
for i in range(1,6):
  print(i)

1
2
3
4
5

In [17]:
# for loops
for i in range(1,10):#vong lap i di tu 1 den 9
  for j in range(1,10):# vong lap j di tu 1 den 9
    print(i, ' * ' , j , ' = ', i*j) #thực hiện phép nhan tao thanh bang cuu chuong

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [18]:
# while loops
age = 10
while age < 20: # điều kiện dừng vòng lập while
  print(age)
  age = age + 1 #thêm 1 vào age mỗi vòng lập

10
11
12
13
14
15
16
17
18
19

##  Python Functions

In [19]:
# Python Function def
# indentation for blocks. four spaces
#hàm getfv có công thức tính khi gọi hàm thêm các tham số pv r n sẽ chạy ra kết quả
def getfv(pv, r, n):
  fv = pv * ((1+ (r)) ** n)
  return fv
fv= getfv(100, 0.1, 7) # gọi hàm xử lý dữ liệu
print(round(fv, 2))

194.87

##Python Classes/Objects

In [22]:
# Python class
# Định nghĩa một lớp (class) tên là MyClass
class MyClass:
  x = 5 # Định nghĩa một thuộc tính (attribute) của lớp tên là x và gán giá trị 5

# Tạo một đối tượng (object) từ lớp MyClass
c1 = MyClass()

# In giá trị của thuộc tính x từ đối tượng c1
print(c1.x)

5

In [23]:
# Python class
# Định nghĩa một lớp (class) tên là Person
class Person:
  # Phương thức __init__ (constructor) được gọi tự động khi bạn tạo một đối tượng mới từ lớp này.
  # 'self' là tham chiếu đến đối tượng hiện tại.
  # 'name' và 'age' là các tham số bạn truyền vào khi tạo đối tượng.
  def __init__(self, name, age):
    # Gán giá trị của tham số 'name' cho thuộc tính 'name' của đối tượng ('self.name')
    self.name= name
    # Gán giá trị của tham số 'age' cho thuộc tính 'age' của đối tượng ('self.age')
    self.age= age

# Tạo một đối tượng (object) tên là p1 từ lớp Person, truyền vào giá trị "Alan" cho name và 20 cho age.
p1 = Person("Alan", 20)

# In giá trị của thuộc tính 'name' từ đối tượng p1
print(p1.name)
# In giá trị của thuộc tính 'age' từ đối tượng p1
print(p1.age)

Alan
20

In [27]:
#Python class
# Định nghĩa một lớp (class) tên là Person
class Person:
  # Phương thức __init__ (constructor) được gọi tự động khi tạo đối tượng.
  # self: tham chiếu đến đối tượng hiện tại.
  # name, age: các tham số truyền vào khi tạo đối tượng.
  def __init__(self, name, age):
    self.name = name # Gán giá trị name cho thuộc tính name của đối tượng
    self.age = age # Gán giá trị age cho thuộc tính age của đối tượng

  # Định nghĩa một phương thức (method) cho lớp Person
  def myfunc(self):
    # Phương thức này in ra lời chào sử dụng thuộc tính name của đối tượng
    print("Hello my name is " + self.name)

# Tạo một đối tượng (object) tên là p1 từ lớp Person, truyền vào "Alan" và 20
p1 = Person("Alan", 20)

# Gọi phương thức myfunc() của đối tượng p1
p1.myfunc()

# In giá trị của thuộc tính name từ đối tượng p1
print(p1.name)

# In giá trị của thuộc tính age từ đối tượng p1
print(p1.age)

Hello my name is Alan
Alan
20

In [33]:
#Python Classes and Obects
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.00
  def description(self):
    desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
    return desc_str

# Tạo đối tượng car1 từ lớp Vehicle và gán giá trị cho các thuộc tính
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

# Tạo đối tượng car2 từ lớp Vehicle và gán giá trị cho các thuộc tính
car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

# Gọi phương thức description() của car1 và in kết quả
print(car1.description())
# In tên của car1
print(car1.name)

# Gọi phương thức description() của car2 và in kết quả
print(car2.description())
# In tên của car2
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

## Python Modules

In [53]:
#Python Modules
import mymodule
mymodule.greeting("Alan")

Hello, Alan

# Kết thúc