<a href="https://colab.research.google.com/github/Toan510/sgu25_data_analytics/blob/main/Bu%E1%BB%95i02_Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Buá»•i 2 - Demo

## Pythonn Programing

In [24]:
from IPython.display import display

In [25]:
print("Hello World")

Hello World

In [26]:
#Indentation
score = 80
if score >=60 :
  print("Pass")

Pass

In [27]:
# Python Variables
x = 2
print(x)

price = 2.5
print(price)

word = 'Hello'
print(word)

word = 'Hello'
print(word)

word = "Hello"
print(word)

word = '''Hello'''
print(word)

x = 2
y = x + 1
print(y)

2
2.5
Hello
Hello
Hello
Hello
3

In [28]:
#python_version()
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

In [29]:
#Python Data Types
#str
x = "Hello World"
print(x)

#int
x = 2
print(x)

#float
x = 2.5
print(x)

#complex
x = 7j
print(x)

Hello World
2
2.5
7j

In [30]:
# Python Data Types
#list
x = ["apple", "banana", "cherry"]
print(x)

#tuple
x = ("apple", "banana", "cherry")
print(x)

#range
x = range(6)
print(x)

#dict
x = {"name" : "Tom", "age" : 20}
print(x)

#set
x = {"apple", "banana", "cherry"}
print(x)

#frozenset
x = frozenset({"apple", "banana", "cherry"})
print(x)

#bool
x = True
print(x)

#bytes
x = b"Hello"
print(x)

#bytearray
x = bytearray(5)
print(x)

#memoryview
x = memoryview(bytes(5))
print(x)

#NoneType
x = None
print(x)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'Tom', 'age': 20}
{'apple', 'cherry', 'banana'}
frozenset({'apple', 'cherry', 'banana'})
True
b'Hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x7fa47456a740>
None

In [31]:
#Python Casting
x = str(3)   # x will be '3'
y = int(3)   # y will be 3
z = float(3) # z will be 3.0

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [32]:
#Python Numbers
x = 2     # int
y = 3.4   # float
z = 7j    #complex

print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [33]:
#Python Basic Operators
print('7 + 2 =', 7 + 2) #Addition
print('7 - 2 =', 7 - 2) #Subtraction
print('7 * 2 =', 7 * 2) #Multiplication
print('7 / 2 =', 7 / 2) #Division
print('7 // 2 =', 7 // 2) #Floor division
print('7 % 2 =', 7 % 2) #Modulus
print('7 ** 2 =', 7 ** 2) #Exponentiation

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [34]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [35]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

##Future value

In [36]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [37]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [38]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

##Python Data Structures

In [48]:
#Python Data Types
x = ["apple", "banana", "cherry"] #list
print(x)

x = ("apple", "banana", "cherry") #tuple
print(x)

x = {"name" : "Tom", "age" : 20}  #dict
print(x["name"],x["age"])

x = {"apple", "banana", "cherry"} #set
print(x)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
Tom 20
{'apple', 'cherry', 'banana'}

In [42]:
#Lists []
x = [60, 70, 80, 90]
print(len(x))#length
print(x[0])  #position first left to right
print(x[1])  #position second left to right
print(x[-1]) #position first right to left

4
60
70
90

In [43]:
#Tuples ()
x = (10, 20, 30, 40, 50)
print(x[0]) #position first left to right
print(x[1]) #position second left to right
print(x[2]) #position third left to right
print(x[-1]) #position first right to left

10
20
30
50

In [45]:
#Sets {}
animals = {'cat', 'dog'}
print('cat' in animals) #cat in "animals" -> true
print('fish' in animals)#fish not in "animals" -> fals

animals.add('fish')
print('fish' in animals)#fish added by code so fish in "animals" -> true
print(len(animals))#count "animals"

animals.add('cat')
print(len(animals))#count the number of values â€‹â€‹in "animals" after adding cat but cat is already in animals so it doesn't change - > 3

animals.remove('cat')
print(len(animals))#count the number of values â€‹â€‹in "animals" after removing cat -> 2

True
False
True
3
3
2

In [46]:
#Dictionary {key : value}
k = { 'EN':'English','FR':'French' }

print(k['EN'])#call "EN" from which we have "EN" is English

English

In [57]:
#Python Data Structures
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)

colors = ("red", "green", "blue") #tuples ()
print(colors)

animals = {'cat', 'dog'} #sets {}
print(animals)

person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person['name'],person['age'])

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
Tom 20

In [61]:
#Python for Finance Applications
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses) #sum of values â€‹â€‹in list
print("Total expenses:", total_expenses)
print("-" * 20)

# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))

for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Total expenses: 293.5
--------------------
Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

# Káº¿t thÃºc